* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div {
  width: 50%;
  height: 200px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 2rem;
    font-weight: 700;
}


button{
    background-color: rgb(114, 114, 114);
    color: white;
    margin: 3rem;
    border-style: none;
    border: 2px solid black;
    width:8rem;
    height:3rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
cursor: pointer;
transition: .5s;

}

button:hover{
  background-color: cyan    ;
  color: black;
}