<%- include("includes/head.ejs") %>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, architecto eaque blanditiis dolore facilis exercitationem facere in adipisci quos provident odit accusamus dicta itaque aspernatur velit doloremque quam delectus. Odio accusantium quis asperiores aliquam modi autem. Nobis, voluptates? Cumque earum optio aspernatur est minus? Rerum excepturi perspiciatis nihil iusto delectus.</p>
    <button type="button">Submit</button>
</body>
</html>